@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url('./wavy-lines.svg');
  background-size: cover;
  user-select: none;
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--color-background-mute);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}

.App {
  text-align: center;
}

.card {
  padding: 2em;
}

.card button {
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 0 20px;
  line-height: 38px;
  font-size: 14px;
  font-weight: 600;
  background-color: var(--ev-button-alt-bg);
  border-color: var(--ev-button-alt-border);
  color: var(--ev-button-alt-text);
}

.card button:hover {
  background-color: var(--ev-button-alt-hover-bg);
  border-color: var(--ev-button-alt-hover-border);
  color: var(--ev-button-alt-hover-text);
}
